
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="container">
    <div class="row">

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </thead>
</table>
<button class="btn btn-success">Add Category</button>

    </div>
</div>