@{
    ViewBag.Title = "Home Page";
}

<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <img src="~/Content/logo.png" alt="Logo" class="logo">
    <div class="mt-3">
        <a href="/Home/Login" class="btn btn-primary mx-2">LOGIN</a>
        <a href="/Home/Register"  class="btn btn-primary mx-2">REGISTER</a>
    </div>
</div>